[ng-cloak] {
    display: none;
}

.wrapper {
    margin: 0 auto;
    width: 320px;
    height: 480px;
}
.window {
    background-image: url("../img/background.png");
    width: 320px;
    height: 480px;
    overflow:hidden; /*избегаем выпадающих марджинов*/
}

.img-yellow-line1 {
    margin-top: 50px;
}

.img-yellow-line2 {
    margin-bottom: 20px;
}

.main-menu-title {
    /*margin-top: 100px;*/
}

.gameplay-ui {
    max-height: 80px;
    background-color: #fefefe;
}

.bt {
    display: inline-block;
    width: 60px;
    height: 60px;
    /*border:1px solid red;*/
    cursor: pointer;
    margin: 10px 5px;
}

.gameplay-body {
    position: relative;
    /*background-color: rgba(0, 0, 0, 0.3);*/
    height: 400px;
}

.circle-item {
    display: inline-block;
    position: absolute;
    width: 60px;
    height: 60px;
    color: #fff;
    line-height: 60px;
    font-size: 30px;
    text-align: center;
    border-radius:50%;
    cursor: pointer;
}

.level-complete {
    position: absolute;
    left: 0;
    top: 50px;
}
