[ng-cloak] {
    display: none;
}

@font-face {
    font-family: Hermes; /* Гарнитура шрифта */
    src: url(hermes.ttf); /* Путь к файлу со шрифтом */
}

.wrapper {
    margin: 0 auto;
    width: 320px;
    height: 480px;
}
.window {
    background-image: url("../img/background.png");
    width: 320px;
    height: 480px;
    overflow:hidden; /*избегаем выпадающих марджинов*/
    /*font-family: Hermes, Arial, sans-serif;*/
}

 /************** MAIN MENU *********************** */

.img-yellow-line1 {
    margin-top: 50px;
}

.img-yellow-line2 {
    margin-bottom: 20px;
}

.main-menu-title {
    /*margin-top: 100px;*/
}

.bt-start-game {
    display: block;
    width: 200px;
    /*padding: 5px;*/
    border:0;
    color: #ffffff;
    background-color: #79c2ed;
    font-size: 50px;
    margin: 0 auto;
    text-transform: uppercase;
    margin-top: 20px;
}

.bt-credits {
    display: block;
    width: 200px;
    border:0;
    color: #ffffff;
    background-color: #88BF26;
    font-size: 30px;
    margin: 0 auto;
    text-transform: uppercase;
    margin-top: 20px;
}

.menu-snd-holder {
    display: block;
    width: 60px;
    margin: 20px auto;

}

/************************** CREDITS ****************************/

.bt-credits-back {
    display: block;
    width: 200px;
    border:0;
    color: #ffffff;
    background-color: #88BF26;
    font-size: 30px;
    margin: 0 auto;
    text-transform: uppercase;
    margin-top: 20px;
}

/************************ GAMEPLAY *********************** */

.gameplay-ui {
    max-height: 80px;
    background-color: #fefefe;
}

.gameplay-bt-holder {
    margin: 10px 5px;
}

.bt {
    display: inline-block;
    width: 60px;
    height: 60px;
    /*border:1px solid red;*/
    cursor: pointer;
}

.gameplay-body {
    position: relative;
    /*background-color: rgba(0, 0, 0, 0.3);*/
    height: 400px;
}

.circle-item {
    display: inline-block;
    position: absolute;
    width: 60px;
    height: 60px;
    color: #fff;
    line-height: 60px;
    font-size: 30px;
    text-align: center;
    border-radius:50%;
    cursor: pointer;
}

.level-complete {
    position: absolute;
    left: 0;
    top: 50px;
}
