<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css"/>

    <title>Plus One game, built with Angular</title>

</head>
<body ng-app="app" ng-controller="MainController as main">

<!--TODO: remove 300ms delay for mobile devices-->
<div class="wrapper" ng-cloak>
    <div ng-if="main.getState()=='MainMenu'" class="window">
        <img class="img-yellow-line1" src="img/yellowLine.png" alt=""/>
        <img src="img/mainMenuTitle.png" alt="Plus One" class="main-menu-title"/>
        <img class="img-yellow-line2" src="img/yellowLine.png" alt=""/>
        <button class="bt-rect bt-start-game" ng-click="main.startGame()">Play</button>
        <button class="bt-rect bt-credits" ng-click="main.setState('Credits')">Credits</button>
        <div class="menu-snd-holder">
            <snd-icon></snd-icon>
        </div>

    </div>

    <div ng-if="main.getState()=='Gameplay'" class="window">
        <div class="gameplay-ui clearfix">
            <div class="gameplay-text-holder pull-left">
                <h4>Уровень {{main.curLevel.id + 1}}</h4>
                <h4>Время {{main.gameTime}}</h4>
            </div>
            <div class="gameplay-bt-holder pull-right">
                <div ng-click="main.abortGame()" class="bt"><img src="img/exitButton.png" alt="Menu"/></div>
            </div>

            <div class="gameplay-bt-holder pull-right"><snd-icon></snd-icon></div>
        </div>
        <div class="gameplay-body">
            <div class="tutorial" ng-if="main.curLevel.id == 0">
                <h3>Get rid of all circles!</h3>
                <h3>Start with 1</h3>
            </div>
            <div ng-controller="VictoryImageController as vic"
                 ng-if="main.levelComplete"
                 class="level-complete anim-complete">
                <img ng-src="{{vic.img}}" alt=""/>
            </div>

            <div circle-item ng-repeat="item in main.items">{{item.value}}</div>
        </div>

    </div>

    <div ng-if="main.getState()=='Credits'" class="window">
        <br/>
        <a href="http://postepenno.com" target="_blank">
            <img src="img/postepennoLogo.png" alt=""/>
        </a>

        <br/><br/>
        <a href="mailto:eugene.karataev@gmail.com">
            <img src="img/karataev.png" alt=""/>
        </a>
        <br/><br/>
        <img src="img/musicCredits.png" alt=""/>
        <button class="bt-rect bt-credits-back" ng-click="main.setState('MainMenu')">Back</button>
    </div>

    <div ng-if="main.getState()=='GameComplete'" class="window game-complete" ng-controller="GameCompleteController as compl">
        <h1>Game Complete!</h1>
        <h2>Congratulations!</h2>
        <a href="http://postepenno.com" target="_blank">
            <h3>More Games</h3>
        </a>
        <button class="bt-rect" ng-click="compl.gotoMenu()">Menu</button>

    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-animate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/TweenMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/1.1.26/howler.min.js"></script>

<script>
    var app =angular.module("app", ["ngAnimate"]);
    app.controller("MainController", function (Gameplay, $timeout, $interval, Snd, Game) {
        var vm = this;
        var tick;
        var startTime;

        vm.gameTime = "00:00";

        Snd.init();

        function startGame() {
            Game.setState('Gameplay');
            vm.levelComplete = false;
            vm.curLevel = undefined;

            Snd.click();

            Gameplay.load(function () {
                //console.log("ready!");
                levelStart(0);

                startTime = moment();
                tick = $interval(function () {
                    var now = moment();
                    vm.gameTime = moment(now.diff(startTime)).format('mm:ss');
                }, 1000)
            });
        }

        function levelStart(id) {
            Gameplay.levelStart(id);
            vm.curLevel = Gameplay.getCurLevel();
            vm.items = Gameplay.getLevelItems();
            vm.levelComplete = false;
        }

        function maybeLevelComplete() {
            if (vm.items.length === 0) {
                //console.log("Level Complete!");
                vm.levelComplete = true;
                Snd.levelComplete();

                $timeout(function () {
                    var nextLevelId = Gameplay.getCurLevel().id + 1;
                    if (Gameplay.isLevelExist(nextLevelId)) {
                        levelStart(nextLevelId);
                    }
                    else {
                        gameComplete();
                    }
                }, 2000)
            }
        }

        function gameComplete() {
            stopTimer();
            Game.setState('GameComplete');
        }

        function stopTimer() {
            $interval.cancel(tick);
            tick = undefined;
        }

        function abortGame() {
            vm.items = undefined;
            vm.levelComplete = false;
            stopTimer();

            Snd.click();
            Game.setState("MainMenu");
        }

        // exports
        vm.startGame = startGame;
        vm.maybeLevelComplete = maybeLevelComplete;
        vm.abortGame = abortGame;
        vm.getState = Game.getState;
        vm.setState = Game.setState;
    })

    app.controller("VictoryImageController", function () {
        var vm = this;

        var images = ["textAwesome.png", "textCool.png", "textDoingGreat.png", "textGreat.png", "textPerfect.png", "textWellDone.png", "textYouRock.png"];
        var index = Math.floor(Math.random() * images.length);
        vm.img = "img/" + images[index];
    })

    app.controller("GameCompleteController", function (Game) {
        var vm = this;

        function gotoMenu() {
            // TODO: ugly hack. one controller should not ask another controller for this stuff. Should refactor to a service!
            Game.setState("MainMenu");
        }

        //exports
        vm.gotoMenu = gotoMenu;
    })

</script>

<script src="js/services.js"></script>
<script src="js/directives.js"></script>
<script src="js/animations.js"></script>

</body>
</html>